
<p id="p"  align="center"><i>About Internet Job System</i><br>
</p>
<p>
  In March 2018 it was reported that Freelancer is facing another complaint with the OAIC.
  Claiming damages over $60,000 a complainant from the European Union alleges Freelancer's conduct in regard to
  privacy is in violation of Australian and European privacy legislation alike, a fact that would affect all
  of Freelancer's European customers,
  according to the complaint. Freelancer has not commented on the allegation.
  In March 2018 it was reported that Freelancer is facing another complaint with the OAIC.
  Claiming damages over $60,000 a complainant from the European Union alleges Freelancer's conduct in regard to
  privacy is in violation of Australian and European privacy legislation alike, a fact that would affect all
  of Freelancer's European customers,
  according to the complaint. Freelancer has not commented on the allegation.
  In March 2018 it was reported that Freelancer is facing another complaint with the OAIC.
  Claiming damages over $60,000 a complainant from the European Union alleges Freelancer's conduct in regard to
  privacy is in violation of Australian and European privacy legislation alike, a fact that would affect all
  of Freelancer's European customers,
  according to the complaint. Freelancer has not commented on the allegation.
  In March 2018 it was reported that Freelancer is facing another complaint with the OAIC.
  Claiming damages over $60,000 a complainant from the European Union alleges Freelancer's conduct in regard to
  privacy is in violation of Australian and European privacy legislation alike, a fact that would affect all
  of Freelancer's European customers,
  according to the complaint. Freelancer has not commented on the allegation.
</p>
