<hr>
<div id="client-bar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Client
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add Client</a>
          <a class="dropdown-item" href="#">Update Client</a>
          <a class="dropdown-item" href="#">Delete Client</a>
          <a class="dropdown-item" href="#">View Client</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Developer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add Developer</a>
          <a class="dropdown-item" href="#">Update Developer</a>
          <a class="dropdown-item" href="#">Delete Developer</a>
          <a class="dropdown-item" href="#">View Developer</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-client-registration></app-client-registration>
