<div align="center" class="boader">
  <br>
  <div align="center" class="main-agile1">


    <div class="main-agile1">
      <div class="w3layouts-main">
        <p id="p"><strong>Change Password</strong></p>

  <form action="#" method="post">
    <fieldset [disabled]="editProspectMode">
      <div class="form-group">

        <div class="update">
          <input placeholder="User Name" name="Name" type="text" required="" ng-model="vm.prop"(keypress)="addHyphen($event)">
          <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
        </div>

        <div class="update">
          <input placeholder="Password" name="Password" type="password" required="" ng-model="vm.prop2"/>
          <span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        </div>
        <div class="update">
          <input placeholder="Confirm Password" name="Confirm Password" type="password" required="" ng-model="vm.prop3"/>
          <span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        </div>

        <input type="submit" value="Change Password" name="login">

        <div class="clear"></div>



      </div>


      </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>
