<!--

<div class="row">
  <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
    <div class="row">
      <div class="input-field col s6">
        <input id="userName" type="text" class="validate" name="UserName" #UserName="ngModel"[(ngModel)]="User.UserName" required>
        <label data-error="Required Field!" for="userName">UserName</label>
      </div>
      <div class="input-field col s6">
        <input id="password" type="password" class="validate" name="Password" #Password="ngModel"[(ngModel)]="User.Password" required minlength="3">
        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required Field':'Minimum 3 characters are Required'):''"for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="Email" #Email="ngModel"[(ngModel)]="User.Email" pattern="emailPattern">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name="FirstName" #FirstName="ngModel"[(ngModel)]="User.FirstName">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name="LastName" #LastName="ngModel"[(ngModel)]="User.LastName">
        <label for="last_name">Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button [disabled]="!userRegistrationForm.valid"class="btn-large btn-submit" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
-->
