  <div align="center" class="boader">
   <br>
    <div align="center" class="main-agile1">


      <div class="main-agile1">
        <div class="layouts-main">


        <p id="p"><strong>Update Client</strong></p>
        <form action="server.php" method="post">
          <div class="update">
            <input placeholder="User Name" name="Name" type="text" required="">
            <span><i class="fa fa-unlock" aria-hidden="true"></i></span>
          </div>

          <input type="button" value="Search Client" name="login">

          <div class="update">
            <input placeholder="E-Mail" name="Email" type="email" required="">
            <span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          </div>
          <div class="update">
            <input placeholder="Password" name="Password" type="password" required="">
            <span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          </div>

        <div class="checkbox" align="right">
          <label>
            <input type="checkbox" id="checkbox1" (click)="checkStatus()">Change Password
          </label>
         </div>


          <div class="update">
            <input placeholder="Contact Number" name="contact" type="text" required="">
            <span class="icons i4"><i class="fa fa-unlock" aria-hidden="true"></i></span>
          </div>

          <input type="submit" value="Update" name="login">
        </form>


      <div class="clear"></div>
    </div>

  </div>
    </div>
  </div>

  <app-update-password></app-update-password>



