<hr>
<div class="row">
  <div class="column">
    <p style="font-size: 12px">
      <img src="#" width="250px" height="150px"><br>
      This webSite implements about export and Import Trade.....
    </p>
  </div>
  <div class="column">
    <p style="font-size: 12px">
      <img src="#" width="250px" height="150px"><br>
      This webSite implements about export and Import Trade.....
    </p>
  </div>
  <div class="column">
    <p style="font-size: 12px">
      <img src="#" width="250px" height="150px"><br>
      This webSite implements about export and Import Trade.....
    </p>
  </div>
</div>
