<div id="client">
  <form action="save-Customer" method="post">
    <h2 align="center">Register Client</h2>
    <div id="id">
      <p class="form-group" >
        <label>CustomerID</label>
        <input class="form-control" name="cid"  >
      </p>
      <p class="form-group">
        <label>Customer Name</label>
        <input class="form-control" name="cname">
      </p>
      <p class="form-group">
        <label>Customer Address</label>
        <input class="form-control" name="caddress">
      </p>
      <p class="form-group">
        <label>Customer Salary</label>
        <input class="form-control" name="csalary">
      </p>
      <p class="form-group">
        <button type="submit" class="btn btn-primary" id="btnSave">Save Customer</button>
      </p>
    </div>

  </form>
</div>

<hr>
